	<header style="background: 
    linear-gradient(
      rgba(61,136,210, 0.8), 
      rgba(61,136,210, 0.9)
    ),
    url(assets/img/about-us.jpg); background-size: 100% 100%; background-repeat: no-repeat;">
        <div class="header-content" >
            <div class="header-content-inner">
                <img src='assets/img/logo_arslin.png' width="150" height="150">
                <hr>
                <h1>About Us</h1>
            </div>
        </div>
    </header>

    <section id=about class='text-center small-padding'>
        <div class="container">
            <div class='row'>
                <div class="col-lg-12">
                    <h2>Empowering Our Clients:</h2>
                    <hr class="bg-primary">
                    <p>Our good friend Johnny needed to replace his old Toyota pickup with a safer car. His truck was a virtual death trap -- no airbags, power steering, or ABS. His parents insisted on a newer, safer car -- a Toyota Corolla. Knowing Johnny’s character (the truck being the only non V8 he’s ever owned), driving around a Corolla wouldn’t make him happy. So we broke down his wants, safety needs and budget constraint. Two days later we acquired a badass 2008 Ford Crown Vic below market price. As a prior police fleet vehicle, it came equipped with bulletproof kevlar reinforced doors. Enough to keep his parent's safety concerns satisfied and get Johnny back into a V8.
 </p>
<p>And so the idea was born.</p>
 <p>Those few days showed us that even for someone like Johnny, an American muscle car enthusiast, finding the right car within a budget, utility in mind and keeping your loved ones pleased can be painstakingly slow, annoying at best.</p>

                </div>
            </div>
        </div>
    </section>

    <section id="team" class='text-center small-padding'>
        <div class="container">
            <!-- Team Members Row -->
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Our Team</h2>
                    <hr class="bg-light">
                    <p class="text-light">
In a nutshell, we are all petrol heads. We wouldn’t allow anyone on the team if they weren't. The process of buying a used car has long been inefficient and as engineers we are actively working on changing that.
                    </p>
                    <p class="text-light">
Mohammad has been involved in the auto industry since a young age. He helps his father run and operate their family dealerships, which involves: valuing / appraising cars, purchasing, sales, marketing and financial work. Through this he saw the terrible inefficiencies and was determined to change this. Thus he began summoning the team to tackle this PROBLEM!
                    </p>
                    
                    <p class="text-light">
                        Cameron isn’t just an amazing hacker, but also loves to get down and dirty restoring old Mustangs. Currently he is resto-modding a 1967 Mustang with his Dad.
                    </p>

                    <p class="text-light">
                        Menghao was a victim of the sleazy salesman at a dealership. Born in the far east and growing up in the jungles of Africa, he had no idea of the tricks up this salesmans’ sleeves. He planned to buy a car in his junior year of college and did tons of research and settled on a Chevy Equinox. But he was ambushed by the good old bait and switch, and ended up getting a Chevy Captiva. Lesson learned for sure!
                    </p>

                </div>
            </div>
        </div>
    </section>

    <!-- Page Content -->
    <section id="teaminfo" class='text-center small-padding'>
        <div class="container">
            <!-- Team Members Row -->
            <div class="row">
                <div class="col-lg-3 col-sm-6 text-center">
                    <div class="team-box">
                        <img class="img-circle img-responsive img-center" src="assets/img/team/arsalan.jpg" alt="">
                        <h3>Mohammad
                            <small>Co-Founder</small>
                        </h3>
                        <p>Some say he can powerslide in Stephen Hawking's wheelchair. All we know is his name is Mohammad!</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 text-center">
                    <div class="team-box">
                        <img class="img-circle img-responsive img-center" src="assets/img/team/cameron.jpg" style="max-height:200px;" alt="">
                        <h3>Cameron
                            <small>Co-Founder</small>
                        </h3>
                        <p>Some say he was once bitten by a king cobra, and after 6 days of agonizing pain, the cobra died. All we know is his name is Cameron!</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 text-center" >
                    <div class="team-box">
                        <img class="img-circle img-responsive img-center" src="assets/img/team/menghao.jpg" style="max-height:200px;" alt="">
                        <h3>Menghao
                            <small>Co-Founder</small>
                        </h3>
                        <p>Some say he doesn't turn into a werewolf during the full moon. All we know is he can smell 5W-40 from miles away!</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 text-center" >
                    <div class="team-box">
                        <img class="img-circle img-responsive img-center" src="assets/img/team/michel.jpg" style="max-height:200px;" alt="">
                        <h3>Michel
                            <small>Co-Founder</small>
                        </h3>
                        <p>Who needs the keys to success when you have a lockpick?</p>
                    </div>
                </div>
                <div class="col-lg-12 col-sm-6 text-center" >
                    <div class="team-box">
                        <img class="img-circle img-responsive img-center" src="assets/img/team/zeshan.jpg" style="max-height:200px;" alt="">
                        <h3>Zeshan
                            <small>Intern</small>
                        </h3>
                        <p>Some say he has the best drifting skills on campus. All we know is his name is Zeshan!</p>
                    </div>
                </div>
            </div>
            <hr>
        </div>
    </section>
