<header style="background: 
    linear-gradient(
      rgba(61,136,210, 0.8), 
      rgba(61,136,210, 0.9)
    ),
    url(assets/img/faq.jpg); background-size: 100% 100%; background-repeat: no-repeat;">
    <div class="header-content">
        <div class="header-content-inner">
        	<img src='assets/img/logo_arslin.png' width="150" height="150">
            <hr>
            <h1>FAQ</h1>
            <h3>You've got questions. We've got answers.</h3>
        </div>
    </div>
</header>

<section id="faq">
	<div class="container-fluid">
		<div class = 'row'>
		    <div class='col-sm-4 col-sm-offset-2'>
				<h3>
				How are your prices so competitive?
				</h3>
				<p>Dealers primarily acquire the bulk of their inventory from wholesale market places, and what we do at Arslin is make sure our valued users can buy their cars at the same wholesale pricing dealers get.</p>
			</div>

			<div class='col-sm-4'>
				<h3>
				How do we arrive at the competitive Price?
				</h3>
				<p>We enter past and current sales in both the retail and wholesale market data into our algorithms to crunch the numbers. Once that is done, we are able to come up with a price that is less than the retail market averages.</p>
			</div>
		</div>

		<div class="row">
			<div class='col-sm-4 col-sm-offset-2'>
				<h3>
				Why are our vehicles only available for a short period of time?
				</h3>
				<p>Since we connect you to the wholesale dealer market directly, these cars are generally bought really quickly by other dealers. But not to worry, we update ten of thousands of cars in our collection weekly. So you can always be sure to find your favorite car. </p>
			</div>

			<div class='col-sm-4'>
				<h3>
				Is the car I saw listed still available?
				</h3>
				<p>All the cars listed are currently available and are ready to be removed from the manufacturers, leasing companies or corporate fleets parking space. Once you have made a choice, just send us your contact details through our site and our agents will secure the vehicle through wholesale auctions.</p>
			</div>
		</div>

		<div class="row">
			<div class='col-sm-4 col-sm-offset-2'>
				<h3>
				How do I know the car is in good condition?
				</h3>
				<p>We only pick the best car from the manufacturers, leasing companies or corporate fleets, but that's not all, that's why we show you all cosmetic imperfections on the car in our report card. If the car has any machanical damage that we did not catch, you can return the car in 7 days for a full refund!</p>
			</div>

			<div class='col-sm-4'>
				<h3>
				Where does the inventory come from?
				</h3>
				<p>We search for cars at all over the country to find the best cars avaliable. This helps us remove geo locations for you to find the best car you want.</p>
			</div>
		</div>

		<div class="row">
			<div class='col-sm-4 col-sm-offset-2'>
				<h3>
				Are these prices negotiable?
				</h3>
				<p>Our prices are set in stone. We use advanced analytics, based on market trends and historical data, to estimate auction prices.</p>
			</div>

			<div class='col-sm-4'>
				<h3>
				What are the other charges?
				</h3>
				<p>Only other charges are shipping, sales tax, registration and tag fees on top of our listed price.</p>
			</div>
		</div>

		<div class="row">
			<div class='col-sm-4 col-sm-offset-2'>
				<h3>
				How much will it cost to ship the vehicle to me?
				</h3>
				<p>If you provide us with your zip code and which car you are interested in we will quote you a shipping price. As shipping is depenent on your location and the location of the vehicle.</p>
			</div>
		</div>
	</div>
</section>
