<header class='bg-primary'>
    <div class="header-content">
        <div class="header-content-inner">
        	<img src='assets/img/logo_arslin.png' width="150" height="150">
            <hr>
            <h1>Arslin Privacy Policy</h1>
        </div>
    </div>
</header>

<section id="privacy">
	<div class="container">    
        <h2>Your Privacy is Important to Us</h2>
        <hr>
        <p class="doc-intro">This Privacy Policy is part of Arslin's Terms of Use and covers the treatment of user information, including Personally Identifiable Information (defined below), obtained by Arslin, including information obtained when you access or log in to Arslin, register to receive content, and/or take any steps to make a purchase or sale through Arslin. Among other things, this Privacy Policy describes the type of user information Arslin obtains either from you, your browser, or third parties that partner with Arslin, explains how Arslin uses this information, identifies the types of third parties that may receive or collect user information from or through Arslin, and explains how you may review and modify certain information that Arslin collects.</p>
        <p class="doc-intro">By visiting Arslin, viewing our content, registering for an account, and/or using any of our services, you acknowledge that you accept the practices and policies outlined in this Privacy Policy. In addition, you agree that Arslin has fulfilled any obligation to provide you with notice of its data use, storage, and sharing practices, and that Arslin will fulfill any ongoing obligation to provide you with notice of its these practices by maintaining a current version of this Privacy Policy.</p>
        <p class="doc-intro">This Privacy Policy does not apply to the practices of companies that Arslin does not own or control, or to individuals whom Arslin does not employ or manage, including any of the third parties to which Arslin may disclose user information as set forth in this Policy.</p>
        <p class="doc-intro">As used in this Privacy Policy, “Arslin” refers to all websites, mobile sites, applications, and other properties or services owned or operated by Arslin, Inc.</p>
        
        
        <div class="section">
            <div class="section-title">
                <h3>1. What Types of User Information Does Arslin Obtain?</h3>
            </div>
            <div class="section-text">
                <p>Arslin may obtain the following types of information from you or concerning your computer or device (“Information”), which may include information that can be used to identify you as specified below (“Personally Identifiable Information”):</p>
                <ul>
                    <li>Name</li>
                    <li>Email Address</li>
                    <li>Mailing Address</li>
                    <li>Telephone Number(s)</li>
                    <li>Credit Card Information</li>
                    <li>Social Networking Handle or Username</li>
                    <li>Photo</li>
                    <li>Demographic Information (e.g., age, gender, interests, and preferences)</li>
                    <li>Vehicle Information (e.g., make, model, color, condition)</li>
                    <li>Activities or Content Viewed on Arslin</li>
                    <li>Information Collected Automatically (detailed below)</li>
                    <li>Information Received from Third Parties (detailed below)</li>
                </ul>
                <p>In certain cases, we may request that you provide some of the Information identified above in order to obtain specific products or services (such as registering for a Arslin account or making a purchase or sale on Arslin). If you choose not to provide the Information we request, you may still use Arslin, but you may be unable to access certain features or services.</p>

                <p>When you register to receive any products or services from Arslin or provide information to Arslin in any other manner, you agree to provide only true, accurate, current and complete information.</p>
            </div>
        </div>
        
        <div class="section">
            <h3 class="section-title">2. Information Collected Automatically</h3>
            <p class="section-text">Arslin may automatically receive and log certain types of information when you visit or interact with our websites, services, mobile applications or other products, including:</p>
            <ul>
                <li>Browser Information</li>
                <li>Operating System Information</li>
                <li>Mobile Device Information (e.g., device identifier, mobile operating system, etc.)</li>
                <li>IP Address</li>
                <li>Content Viewed</li>
                <li>Geographic Location</li>
                <li>Connection Speed</li>
                <li>Time of Visit</li>
                <li>Referring Site, Application, or Service</li>
                <li>Registration Time</li>
            </ul>
        </div>
        
        <div class="section">
            <h3 class="section-title">3. Information Received From Third Parties</h3>

            <h4 class="subsection-title">Consumer Reporting Agencies</h4>
            <p class="section-text">If you purchase or sell a car through Arslin, we may receive Information about you from a credit bureau such as Experian to help us verify your identity, which may include certain Personally Identifying Information identified above. </p>

            <h4 class="subsection-title">Automobile Analysts</h4>
            <p class="section-text">If you list a car for sale through Arslin, we may receive Information from our service providers, including pre-purchase inspectors and vehicle analysts (e.g., AutoCheck and Edmunds), about you and the value and/or characteristics of your car, which may include certain Personally Identifying Information identified above. </p>
            
            <h4 class="subsection-title">Mail Service Providers</h4>
            <p class="section-text">If you list or purchase a car through Arslin, we may receive Information about you from FedEx, the United States Postal Service, or other mail service providers, about the address at which Arslin will pick up or deliver your car. This Information may include certain Personally Identifying Information identified above. </p>
            
            <h4 class="subsection-title">Advertisers</h4>
            <p class="section-text">Arslin uses third parties to advertise its products and services. If you provide information to these advertisers, including by clicking on or otherwise responding to an advertisement or information request form, we may receive Information about you, which may include certain Personally Identifying Information identified above. </p>
            
            <h4 class="subsection-title">Third Party Websites/Social Networking Sites</h4>
            <p class="section-text">If you choose to use any third party website or service that is integrated with Arslin, including a third party social networking, such as Facebook, Twitter, or Google Plus (“Third Party Websites”) we may receive Information, including Personally Identifying Information, from such Third Party Websites, including, but not limited to:</p>
            <ul>
                <li>Name</li>
                <li>Nickname or Username</li>
                <li>Photo or Graphic Avatar</li>
                <li>Unique Third Party Website Identifier (e.g., Facebook User ID)</li>
                <li>Biographical or Demographic Information (e.g., professional title, gender, college attended, etc.)</li>
                <li>Likes and Interests</li>
                <li>Contacts / Friends / Associations</li>
                <li>Any Information that is Publicly Available on Third Party Websites</li>
            </ul>
            <p class="section-text">For example, Arslin may offer the ability to use certain Third Party Websites to facilitate your registration on Arslin. We may also use information about your profile and connections on Third Party Websites to allow you to identify purchasers and/or sellers with whom you have a connection or to personalize your experience. In addition, Arslin offers “plug ins” and “widgets” from various Third Party Websites that allow you to share Arslin content off of our service, as discussed below. </p>
            <p class="section-text">Your decision to use, or share with, a Third Party Website when accessing or using Arslin products and services is completely voluntary. Arslin is not responsible for compliance with the policies or practices of any Third Party Website. You should ensure that you are comfortable with the information such Third Party Websites may make available to Arslin by reviewing those Websites’ privacy policies and service terms, and by modifying your privacy settings and preferences on those Services. </p>
            <p class="section-text">Any information we receive from Third Party Websites will be governed by this Privacy Policy.</p>
        </div>
        
        <div class="section">
            <h3 class="section-title">4. How Do We Use This Information?</h3>
            <p class="section-text">We use the Information we obtain from or concerning you or your computer or device to provide Arslin products and services, fulfill your requests, improve our products and services, personalize and tailor your experience on Arslin, operate our business, communicate with you regarding our business, and understand how users are engaging with Arslin.</p>
            <p class="section-text">In addition, we may use Information from or concerning you or your computer or device to facilitate the delivery of content or advertisements that we believe may be of interest to you, or to communicate with you about new or existing products and services or special offers. For example, we may periodically send promotional materials or notifications related to our products and services to the email address associated with your account.</p>
        </div>
        
        <div class="section">
            <h3 class="section-title">5. Arslin's Use of Cookies</h3>
            <p class="section-text">Arslin may place “cookies” on your computer or device that may contain anonymous Information that is associated with you. Cookies are small text files a website uses to recognize users, and are typically placed on your hard disk by a web server. Cookies contain information that can later be read by a web server in the domain (here, Arslin) that issued the cookie to you or that, in some cases, can be read by a third party domain. </p>
            <p class="section-text">Our cookies may record Information about your use of Arslin so that we can provide a continuous and more personalized experience for you, including for one or more of the following purposes: to help identify visitors; assess usage patterns; identify preferences; diagnose problems with our servers; gather demographic information; analyze trends and usage patterns; conduct research; record registration and personalized information; and otherwise administer Arslin products and services. Arslin does not alter its behavior or change its services upon receiving Do Not Track requests from a user’s browser. </p>
            <p class="section-text">If you do not wish to have Arslin place and use cookies on your computer, you should set your browser preferences to refuse cookies before accessing Arslin. Arslin is not responsible for any failure by you or your browser to accurately implement or communicate your browser preferences or settings. If you choose to decline cookies, you may not be able to sign in or use other interactive features of Arslin that depend on cookies. </p>
            <p class="section-text"><strong>Arslin does not control and is not responsible for the use of cookies by its third party partners.</strong> The use of cookies by some of these third parties is discussed below (see “What Types of Information Do Third Parties Collect?”) These third parties may collect information about your online activities, including personally identifying information, over time and across different websites.</p>
        </div>
        
        <div class="section">
            <h3 class="section-title">6. Email Communications</h3>
            <p class="section-text">We may contact you by e-mail or other equivalent electronic communications if you access Arslin products or services or other content or services provided by Arslin. By visiting or using Arslin content, products or services, you specifically consent to the receipt of these e-mail message communications. If you do not want to receive emails or other communications from us, please notify us by email at hello@Arslin.com and include sufficient information for us to identify your account, including your Name, Email Address and the specifics of your request. You may also unsubscribe through the instructions included in the e-mail communication. If you unsubscribe, Arslin may still contact you via email for administrative purposes or concerning any products, services or events for which you have registered or are using.</p>
        </div>
        
        <div class="section">
            <h3 class="section-title">7. Disclosure of Information to Third Parties</h3>
            <p class="section-text">Arslin may disclose Information (including Personally Identifying Information) from or concerning you or your computer or device to third parties in the circumstances described below. By visiting, accessing, or using Arslin’s products or services you consent to the disclosure of your Information to certain categories of third parties in the manner described below. This Privacy Policy does not apply to the policies or practices of any of these third parties.</p>

            <h4 class="subsection-title">Service Providers</h4>
            <p class="section-text">Arslin relies on third party vendors and service providers to provide support and assistance for its products and services (“Service Providers”), and we may disclose your Information (including Personally Identifying Information) to these Service Providers to the extent necessary to support our products and services or as otherwise set forth below.</p>
            
            <h4 class="subsection-title">Payment Processors</h4>
            <p class="section-text">Arslin uses third party payment processors to process financial payments for certain Arslin services. When you make payments to Arslin and/or obtain certain Arslin products or services, Arslin may transfer certain Information (including Personally Identifying Information) to these payment processors for the sole purpose of facilitating the payment transaction, such as your Name, Address, and Credit Card Information.</p>
            
            <h4 class="subsection-title">Vehicle Inspectors</h4>
            <p class="section-text">Arslin may use third parties to conduct pre-purchase inspections on vehicles listed for sale on Arslin.Arslin may provide your Information (including Personally Identifying Information) to such inspectors when you apply to list a vehicle for sale on Arslin. </p>
            
            <h4 class="subsection-title">Vehicle History Providers</h4>
            <p class="section-text">Arslin uses third parties, such as Edmunds and Auto Check, to obtain information necessary to value vehicles listed for sale on Arslin. Arslin may provide your Information (including Personally Identifying Information) to such providers when you apply to list a vehicle for sale on Arslin. </p>
            
            <h4 class="subsection-title">Shipping Providers</h4>
            <p class="section-text">Arslin uses third parties, such as FedEx, United States Postal Service and vehicle delivery services, to deliver certain products or information to you. Arslin may provide your Information (including Personally Identifying Information) to such providers when you request to receive Arslin’s products or services. </p>
            
            <h4 class="subsection-title">Web Hosts</h4>
            <p class="section-text">Arslin’s website services are hosted by Rackspace, a cloud data storage platform. All Information obtained by Arslin’s websites is processed and stored on servers that are owned and operated by Rackspace. </p>
            
            <h4 class="subsection-title">Third Party Websites</h4>
            <p class="section-text">Arslin offers the ability to share Arslin content on Third Party Websites, including social networking and blogging services such as Facebook, Twitter, and Google Plus, through “plugins” or “widgets” (such as Facebook’s “Like” button). When you elect to share content and information with others on Third Party Websites, Arslin may transmit your Information (including Personally Identifying Information) to such Third Party Websites. This Information may be visible on the Third Party Website to anyone who has access to that content or Information. Your decision to share information in this manner is completely voluntary. You should ensure that you are comfortable with how Third Party Websites may share your Information by reviewing their privacy policies and/or modifying your privacy settings directly on those Third Party Websites.</p>
            <p class="section-text">Arslin may advertise vehicles listed for sale through Arslin on other websites, such as Craigslist or eBay. Arslin may provide certain Information, such as the vehicle characteristics and general geographic location of the vehicle, to these websites. </p>
            
            <h4 class="subsection-title">URL/Referrer Header Information</h4>
            <p class="section-text">When you visit Arslin websites, certain information about the content or activities you have engaged in on Arslin may be reflected in the Uniform Resource Locator (“URL”) for the page you are viewing on Arslin (i.e., the Internet “address,” commonly displayed in the browser window). For example, the certain information about a vehicle you are viewing may appear in the URL for that page. In addition, if you are logged into a Arslin account, certain account information (may be visible in the URL when you visit your account on Arslin. If you leave Arslin to visit a third party website, including when you share information through a social plug-in (like the Facebook “share” button), the information contained in the URL may be transmitted to the third party website by your browser. </p>
            
            <h4 class="subsection-title">Analytics &amp; Advertising Services</h4>
            <p class="section-text">As discussed below, Arslin uses third party advertisers, including ad networks, to provide advertising services to Arslin. Arslin also uses analytics products to obtain information about how users are using and interacting with Arslin. These third parties may receive Information (including Personally Identifying Information) from Arslin. </p>
            
            <h4 class="subsection-title">Law Enforcement/Legal Process</h4>
            <p class="section-text">We may disclose your Information (including Personally Identifying Information) when we believe in good faith that disclosure is necessary to comply with any law, regulation or legal request; enforce, apply, or investigate breaches of our terms of use and other agreements; respond to public requests; or protect the rights, property, user experience or safety of Arslin, our employees, our users, or others. This can include exchanging information with other companies and organizations for fraud protection and credit risk reduction.</p>
        </div>
        
        <div class="section">
            <h3 class="section-title">8. What Types of Information Do Third Parties Collect?</h3>
            <p class="section-text">Arslin may allow third parties to collect information from users in order to process your requests or improve Arslin’s website, products, services, or marketing efforts. We may use third parties such as Experian to obtain, compile and analyze Information (that may include Personally Identifying Information) about users for identity verification purposes.</p>
            <p class="section-text">Arslin may allow third party advertising serving companies, including ad networks (“Advertisers”), to provide other advertising services to Arslin. We may provide Information (including Personally Identifying Information) to these advertising companies so we can offer you products, promotions, and offers in the future. Advertisers may use the information collected to display advertisements that are tailored to your interests or background and/or associate such information with your subsequent visits, purchases or other activities on other websites. Advertisers may also share this information with their clients or other third parties.</p>
            <p class="section-text">Arslin may also use third party analytics providers and products to obtain, compile and analyze Information (that may include Personally Identifying Information) about how users are using and interacting with Arslin. Arslin may provide Information (including Personally Identifying Information) to these analytics providers for the purpose of obtaining statistics and other information about how users are using and interacting with Arslin.</p>
        </div>
        
        <div class="section">
            <h3 class="section-title">9. Arslin has no responsibility for the technologies, tools or practices of the third parties identified in this section that provide services on or through Arslin.</h3>
            <p class="section-text">Arslin may allow third parties to collect information from users in order to process your requests or improve Arslin’s website, products, services, or marketing efforts. We may use third parties such as Experian to obtain, compile and analyze Information (that may include Personally Identifying Information) about users for identity verification purposes.</p>
            <p class="section-text">Arslin may allow third party advertising serving companies, including ad networks (“Advertisers”), to provide other advertising services to Arslin. We may provide Information (including Personally Identifying Information) to these advertising companies so we can offer you products, promotions, and offers in the future. Advertisers may use the information collected to display advertisements that are tailored to your interests or background and/or associate such information with your subsequent visits, purchases or other activities on other websites. Advertisers may also share this information with their clients or other third parties. </p>
            <p class="section-text">Arslin may also use third party analytics providers and products to obtain, compile and analyze Information (that may include Personally Identifying Information) about how users are using and interacting with Arslin. Arslin may provide Information (including Personally Identifying Information) to these analytics providers for the purpose of obtaining statistics and other information about how users are using and interacting with Arslin.</p>
        </div>
        
        <div class="section">
            <h3 class="section-title">10. Comments and Public Posts; Sharing on Third party Websites</h3>
            <p class="section-text">Arslin encourages active participation by users, including through user-generated comments or content on Arslin. However, please be aware that if you voluntarily disclose Information, personal or otherwise, on Arslin, that Information can be viewed, collected and used by others, including other users, search engines, advertisers, third party applications developers, and anyone with access to Arslin. Arslin has no control over the use, collection or disclosure of any Information that you post publicly on Arslin.</p>
        </div>
        
        <div class="section">
            <h3 class="section-title">11. Change of Control</h3>
            <p class="section-text">If Arslin, or substantially all of its assets, is acquired by another company or party, user Information will be one of the assets transferred or acquired by the purchaser. You acknowledge that such transfers may occur, and that any purchaser of Arslin or its assets may continue to collect, use and disclose your Information as set forth in this Policy.</p>
        </div>
        
        <div class="section">
            <h3 class="section-title">12. Security and Protection of Personally Identifying Information</h3>
            <p class="section-text">We have implemented reasonable security measures and practices in an effort to protect the confidentiality of your Personally Identifying Information (other than Personally Identifying Information that you have elected to disclose to others). However, no security system is impenetrable. It may be possible for third parties to intercept or access information you provide to Arslin. Arslin cannot guarantee the security of your Personally Identifying Information, nor can we guarantee that information you supply will not be intercepted while being transmitted to Arslin. It is important for you to protect against unauthorized access to your password(s) and computer or device, and to log off when using any shared computer.</p>
        </div>
        
        <div class="section">
            <h3 class="section-title">13. Children's Privacy</h3>
            <p class="section-text">Arslin does not knowingly collect personal information from children under 13 years of age.</p>
        </div>
        
        <div class="section">
            <h3 class="section-title">14. Changes to the Privacy Policy</h3>
            <p class="section-text">Arslin retains the discretion to amend or modify this Privacy Policy from time to time. Use and disclosure of Information we obtain is subject to the later of: (1) the Privacy Policy in effect at the time such Information is collected or (2) any subsequent Privacy Policy of which you have notice. If we make material changes to the way we collect, use or disclose Personally Identifying Information, we will notify you by posting a clear and prominent announcement on Arslin or through a direct communication. Your continued access to or use of Arslin following notice of material changes to this Privacy Policy shall constitute consent to any amendments and/or modifications. Your use of Arslin is entirely voluntary, and you may discontinue use of Arslin at any time.</p>
        </div>
        
        <div class="section">
            <h3 class="section-title">15. Effective Date of this Privacy Policy</h3>
            <p class="section-text">This Privacy Policy is effective as of October 13, 2015</p>
        </div>

    </div>

</section>