    
<header style="background: 
    linear-gradient(
      rgba(61,136,210, 0.8), 
      rgba(61,136,210, 0.8)
    ),
    url(assets/img/repairing-car.jpg); background-size: 100% 100%; background-repeat: no-repeat;">
    <div class="header-content">
        <div class="header-content-inner">
            <img src='assets/img/logo_arslin.png' width="150" height="150">
            <hr>
            <h1>Page Under Construction</h1>
        </div>
    </div>
</header>

<section id="gtr">
    <div class="container text-center">
        <h3>Here is a picture of our CEO's GTR in the shop!! :)</h3>
        <p>It needs a lot of love right now and we would love to bring it back to life as soon as possible.</p>
        <hr>
        {{#swiper-container pagination=true loop=true autoHeight=true autoplay=1500}}
            {{#swiper-slide}}<img src="/assets/img/gtr/gtr1.jpg" class="img-responsive">{{/swiper-slide}}
            {{#swiper-slide}}<img src="/assets/img/gtr/gtr2.jpg" class="img-responsive">{{/swiper-slide}}
            {{#swiper-slide}}<img src="/assets/img/gtr/gtr4.jpg" class="img-responsive">{{/swiper-slide}}
            {{#swiper-slide}}<img src="/assets/img/gtr/gtr5.jpg" class="img-responsive">{{/swiper-slide}}
            {{#swiper-slide}}<img src="/assets/img/gtr/gtr6.jpg" class="img-responsive">{{/swiper-slide}}
        {{/swiper-container}}
    </div>
</section>