	<header style="background: 
    linear-gradient(
      rgba(61,136,210, 0.8), 
      rgba(61,136,210, 0.9)
    ),
    url(assets/img/why-us.jpg); background-size: 100% 100%; background-repeat: no-repeat;">
        <div class="header-content">
            <div class="header-content-inner">
                <img src='assets/img/logo_arslin.png' width="150" height="150">
                <hr>
                <h1>At Your Service</h1>
            </div>
        </div>
    </header>

    <section id="services"  class="no-padding">
        <div class="container">
            <div class="row" id='rowsplit'>
                <div class="col-lg-6 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-thumbs-up wow bounceIn text-primary" data-wow-delay=".1s"></i>
                        <h3>Empower yourself</h3>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 text-center">
                    <div class="service-box">
                        <h4>We believe in empowering our users in every way possible. By giving you the power to choose whatever car you wish to get. No longer are you limited to your geographic location. We allow you to buy the best cars at the most competitive price point from all around the country!</h4>
                    </div>
                </div>
            </div>
            <div class="row" id='rowsplit'>
                <div class="col-lg-6 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-car wow bounceIn text-primary" data-wow-delay=".3s"></i>
                        <h3>1000’s of Listings</h3>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 text-center">
                    <div class="service-box">
                        <h4>Dealers primarily acquire the bulk of their inventory from wholesale market places. 1000’s of cars run through the wholesale market daily. Screening through 1000’s of cars can be daunting, and near impossible to weed through all the options. Not to worry, let Arslin handle it!</h4>
                    </div>
                </div>
            </div>

            <div class="row" id='rowsplit'>
                <div class="col-lg-6 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x  fa-line-chart wow bounceIn text-primary" data-wow-delay=".5s"></i>
                        <h3>Next Generation Analytics</h3>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 text-center">
                    <div class="service-box">
                        <h4>At Arslin, we look at vehicles sold in the past and being sold in real time. We look into market trends and thousands of other factors that affect the price and availability of your favorite car. So whether you want what your best friends has, or want a car that no one else in your neighbourhood owns, we’ll find it for you.</h4>
                    </div>
                </div>
            </div>
            <div class="row" id='rowsplit'>
                <div class="col-lg-6 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x  fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".5s"></i>
                        <h3>Comprehensive Vehicle Reports</h3>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 text-center">
                    <div class="service-box">
                        <h4>Don’t settle for just the Kelly Blue Book and CarFax. Get a holistic view on each car. Our prices are good. So good that instead of just claiming they are ‘thousands below retail’ we’ll show you direct comparisons from the retail market! We display each car’s condition in its true form. If inspectors have found a scratch, it’ll be disclosed! We pride ourselves with full disclosure. Why? When there are 1000’s of new inventory daily and we want you to get a steal.</h4>
                    </div>
                </div>
            </div>
            <div class="row" id='rowsplit'>
                <div class="col-lg-6 col-md-6 text-center">
                    <div class="service-box">
                        <div class="lists">
                            <i class="fa  fa-hourglass-start fa-4x wow bounceIn text-primary" data-wow-delay=".5s"></i>
                            <i class="fa  fa-hourglass-half fa-4x wow bounceIn text-primary" data-wow-delay=".5s"></i>
                            <i class="fa  fa-hourglass-end fa-4x wow bounceIn text-primary" data-wow-delay=".5s"></i>
                        </div>
                        <h3>One more thing!</h3>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 text-center">
                    <div class="service-box">
                        <h4>So you’ve found the right car. Not only will ship it to you. We’ll handle the tag, registration and other paperwork-- our automated system with state DMVs will register, title and plate the car for you.</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>`